{% extends 'digitalpay/base.html' %}
{% load tags %}
{% load jalali_tags %}

{% block title %}
    لیست اقساط
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>لیست اقساط</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه نخست</a></li>
                            <li class="breadcrumb-item active">لیست اقساط</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 660px;">
                                {% if installments %}
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>شناسه</th>
                                            <th>کاربر</th>
                                            <th>مبلغ</th>
                                            <th>تاریخ</th>
                                            <th>نام کالا</th>
                                            <th>تعداد اقساط</th>
                                            <th>وضعیت</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for installment in installments %}
                                            <tr>
                                                <td>{{ installment.Installment_id }}</td>
                                                <td>{{ installment.user.phone }}</td>
                                                <td>{{ installment.amount | three_digits_currency }}</td>
                                                <td>{{ installment.created_date | to_jalali:"%Y/%m/%d" }}</td>
                                                <td>
                                                    <div class="installment" data-installment-id="{{ installment.Installment_id }}">
                                                        <button type="button" class="btn btn-primary" id="btn-product" data-toggle="modal" data-target=".bd-example-modal-lg">مشاهده</button>
                                                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-md">
                                                                <div class="modal-content">
                                                                    <div class="col-md-6 mt-4 mb-4" style="font-size: 12px">
                                                                        {% for product in installment.product_name.all %}
                                                                            <ul class="list-group" id="product_list"></ul>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ installment.installments }}</td>
                                                <td><span class="tag tag-success">
                                            {% if installment.is_done %}
                                                <i class="fa fa-check" style="color: green"></i>&nbsp;<span style="color: green">اتمام اقساط</span>
                                            {% else %}
                                                <i class="fa fa-radiation fa-spin" style="color: #0c84ff"></i>&nbsp;<span style="color: #0c84ff">در جریان</span>
                                            {% endif %}
                                        </span></td>
                                                <td>
                                                    {% if not installment.is_done %}
                                                        <a href="{% url 'installment_detail' installment.Installment_id %}" class="btn btn-primary">لیست اقساط</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                                {% if not installments %}
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>شناسه</th>
                                            <th>کاربر</th>
                                            <th>مبلغ</th>
                                            <th>تاریخ</th>
                                            <th>نام کالا</th>
                                            <th>تعداد اقساط</th>
                                            <th>وضعیت</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="mt-5 d-flex justify-content-center">
                                        <span class="alert alert-info">موردی برای نمایش وجود ندارد!</span>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}