<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> صفحه ورود </title>

    {% include 'digitalpay/header_refrences.html' %}
</head>
<body class="hold-transition login-page" dir="rtl">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1"><b>شرکت </b>گویا</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">بازیابی رمز عبور</p>

            <form action="{% url 'forgot' %}" method="post" id="forgot_form">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {{ form.mobile }}
                    <div class="input-group-append">
                        <div class="input-group-text brClass">
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>
                    <p id="errors">{{ form.mobile.errors }}</p>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" disabled class="btn btn-success btn-block" id="btn-send">ارسال کد</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->

{% include 'digitalpay/footer_refrences.html' %}
</body>
</html>
