<div class="card-body">
    <p class="login-box-msg">تغییر رمز عبور</p>

    <form action="{% url 'change_password' %}" method="post" id="change_pass_form">
        {{ csrf }}
        <div class="input-group mb-3">
            {{ form.password }}
            <div class="input-group-append">
                <div class="input-group-text brClass">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            {{ form.password2 }}
            <div class="input-group-append">
                <div class="input-group-text brClass">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <p id="errors">{{ form.password2.errors }}</p>

        <div class="row">
            <!-- /.col -->
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block">تغییر کلمه عبور</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
</div>
<!-- /.card-body -->
