<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img {% if request.user.avatar %}
                src="{{ request.user.avatar.url }}"
            {% else %}
                src="/static/digitalpay/dist/img/avatar5.png"
            {% endif %}  class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            {% if request.user.is_superuser or request.user.is_staff %}
            	<a href="{% url 'profile' %}" class="d-block">{{ user.phone }}  ( مدیر )  </a>
                {% else %}
                <a href="{% url 'profile' %}" class="d-block">{{ user.phone }}</a>
            {% endif %} 
        </div>
    </div>

    <!-- SidebarSearch Form -->
{#    <div class="form-inline">#}
{#        <div class="input-group" data-widget="sidebar-search">#}
{#            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">#}
{#            <div class="input-group-append">#}
{#                <button class="btn btn-sidebar">#}
{#                    <i class="fas fa-search fa-fw"></i>#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            {% for sidebar in sidebars %}
                <li class="nav-item">
                    <a href="{{ sidebar.slug }}" class="nav-link {% if request.resolver_match.route == sidebar.slug|slice:"1:" %}active{% endif %}">
                        <i class="nav-icon {{ sidebar.icon }}"></i>
                        <p>
                            {{ sidebar.title }}
                        </p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>